- content_for( :title ) { 'Welcome' }

- content_for( :body ) do

    %main
        %table#content-scrolling
            %tr
                %td#welcome
                    %p.quote
                        The heavens declare the glory of God;
                        the skies proclaim the work of His hands.
                        Day after day they pour forth speech,
                        night after night they display knowledge.
                        &#8211 Psalm 19:1-2
                    %div.inline-wrapper
                        %div#fox-container
                            = erb :'core_pages/_red_fox'
                            %div#left-eye-wrapper
                                %div.eye
                            %div#right-eye-wrapper
                                %div.eye
                %td#about
                    %h2
                        Hello.
                    %p.intro
                        Welcome to febrink.com, the personal site of
                        Farrah Brink (that's me!). I have recently earned my
                        undergraduate physics degree and have been working on 
                        picking up web development. Over the past year-and-a-half, 
                        I have become familiar with Ruby, Rails, HTML, CSS, and JavaScript.
                        %div.icons
                            %p
                                Get in touch:
                            %br
                            %div.icon
                                %a.link-open-dialog{ :href => '/' }
                                    = erb :'core_pages/_gmail_icon'
                            %div.icon
                                %a{ :href => 'https://github.com/februaryInk', :target => '_blank' }
                                    = erb :'core_pages/_github_icon'
                            %div.icon
                                %a{ :href => 'https://www.linkedin.com/pub/farrah-brink/b7/ba3/10a', :target => '_blank' }
                                    = erb :'core_pages/_linkedin_icon'
                    =# image_tag( 'greenLeaf2.png', { alt: 'A leaf.', id: 'leaf-1' } )
                    =# image_tag( 'goldLeaf1.png', { alt: 'A leaf.', id: 'leaf-2' } )
                    =# image_tag( 'redLeaf1.png', { alt: 'A leaf.', id: 'leaf-3' } )
                    =# image_tag( 'greenLeaf1.png', { alt: 'A leaf.', id: 'leaf-4' } )
                %td#projects
                    %h2
                        My Projects
                    %div.project
                        =# image_tag( "inklings.png", { alt: 'An image of the Inklings website.', class: 'project-img' } )
                        %div.project-description
                            %h3
                                %i
                                    Inklings
                            %p
                                %i
                                    Inklings
                                is a web application I made using Ruby on Rails. It is a writer's community website that I created in order to become more familiar with web development and design. It continues to be a work in progress.
        %div.prev
            %div.to-welcome.arrow-left
        %div.next
            %div.to-projects.arrow-right
        %div#dialog
            %div#notice
            %div#form
                =# render :partial => '/self_mailer/new'
