%script{ :type => 'text/javascript' }
    :plain
        var coverLetterHeight = 0;
        var headerHeight = 0;
        var tree;
        var type = [ 'birch', 'cherry', 'willow' ][ Math.floor( Math.random(  ) * 3 ) ];
        
        $( document ).ready( function(  ) {
        
            $( document ).on( 'click', '.js-scroll-link', function( event ) {
                event.preventDefault(  );
                
                var elementPosition = $( $( this ).attr( 'href' ) ).offset(  ).top - $( '.js-sticky-nav' ).height(  );
                $( 'body, html' ).animate( { scrollTop: elementPosition }, 750 );
            } );
            
            $( document ).on( 'click', '.js-cover-letter-switch', function(  ) {
                type = $( this ).data( 'tree-type' );
                
                setCoverLetterColor(  );
                prepareCoverLetter(  );
            } );
            
            setCoverLetterColor(  );
            prepareCoverLetter(  );
            
            setTimeout( function(  ) {
                repeatedlyEmphasizeSwitches(  );
            }, 2000 );
        } );
        
        $( window ).resize( function (  ) {
            prepareCoverLetter(  );
        } );
        
        var emphasizeSwitches = function (  ) {
            var $switches = $( '.js-cover-letter-switch' );
            
            // assuming all switches are the same size.
            var switchHeight = $switches.outerHeight(  );
            var switchWidth = $switches.outerWidth(  );
            
            animateInSequence( '.js-cover-letter-switch', 
                [ { 
                    borderTopLeftRadius: 0.625 * switchHeight,
                    borderTopRightRadius: 0.625 * switchHeight,
                    borderBottomRightRadius: 0.625 * switchHeight,
                    borderBottomLeftRadius: 0.625 * switchHeight,
                    height: 1.25 * switchHeight, 
                    marginLeft: '-=' + 0.125 * switchWidth,
                    marginRight: '-=' + 0.125 * switchWidth,
                    marginTop: '-=' + 0.125 * switchHeight,
                    width: 1.25 * switchWidth 
                },
                { 
                    borderTopLeftRadius: 0.45 * switchHeight,
                    borderTopRightRadius: 0.45 * switchHeight,
                    borderBottomRightRadius: 0.45 * switchHeight,
                    borderBottomLeftRadius: 0.45 * switchHeight,
                    height: 0.9 * switchHeight, 
                    marginLeft: '+=' + 0.175 * switchWidth,
                    marginRight: '+=' + 0.175 * switchWidth,
                    marginTop: '+=' + 0.175 * switchHeight,
                    width: 0.9 * switchWidth
                },
                { 
                    borderTopLeftRadius: 0.5 * switchHeight,
                    borderTopRightRadius: 0.5 * switchHeight,
                    borderBottomRightRadius: 0.5 * switchHeight,
                    borderBottomLeftRadius: 0.5 * switchHeight,
                    height: switchHeight, 
                    marginLeft: '-=' + 0.05 * switchWidth,
                    marginRight: '-=' + 0.05 * switchWidth,
                    marginTop: '-=' + 0.05 * switchHeight,
                    width: switchWidth
                } ],
                [
                    100,
                    100,
                    100
                ]
            );
        }
        
        var prepareCoverLetter = function (  ) {
            coverLetterHeight = window.innerHeight - $( '.js-peek-over' ).outerHeight(  );
            
            if ( coverLetterHeight < 0 ) {
                coverLetterHeight = window.innerHeight;
            }
            
            $( '.js-cover-letter' ).height( coverLetterHeight );
            $( '.js-cover-letter-window' ).height( coverLetterHeight );
            
            if ( $( '#tree-canvas' ).length ) {
                
                for ( var i = 0; i < Tree.prototype.instances.length; i++ ) {
                    Tree.prototype.instances[ i ].kill(  );
                    Tree.prototype.instances.splice( i, 1 );
                }
                                
                $( '#tree-canvas' )[ 0 ].height = $( '#tree-canvas' ).parent(  ).height(  );
                $( '#tree-canvas' )[ 0 ].width = $( '#tree-canvas' ).parent(  ).width(  );
                
                tree = new Tree( 'tree-canvas', type, {  
                    leaderHeight: 0.99,
                    xOrigin: ( 3 / 4 ) * $( '#tree-canvas' )[ 0 ].width
                } );
                tree.grow(  );
            }
        }
        
        var repeatedlyEmphasizeSwitches = function (  ) {
            emphasizeSwitches(  );
            setTimeout( function (  ) {
                repeatedlyEmphasizeSwitches(  );
            }, 10000 );
        }
        
        var setCoverLetterColor = function (  ) {
            $( '.js-cover-letter-switch' ).removeClass( '-open' );
            $( '.js-cover-letter-switch[ data-tree-type="' + type + '" ]' ).addClass( '-open' );
            
            $( '.js-outlined-text' )
                .removeClass( 'outline-birch' )
                .removeClass( 'outline-cherry' )
                .removeClass( 'outline-willow' )
                .addClass( 'outline-' + type );
        }
        
        $( window ).scroll( function(  ) {
            if ( $( this ).scrollTop(  ) > $( '.js-sticky-nav-wrapper' ).offset(  ).top ) {
                $( '.js-sticky-nav' ).addClass( '-sticky' );
            } else {
                $( '.js-sticky-nav' ).removeClass( '-sticky' );
            }
        } );

%main
    %div.cover-letter.js-cover-letter
        %canvas#tree-canvas
    %div.js-cover-letter-window
        %div.content.full-height
            %div.column-100.full-height
                %div.cover-letter-window__content
                    %h1.heading.-flourish.-grand.js-outlined-text.no-white-space
                        Welcome.
                    %p.js-outlined-text
                        I'm Farrah Brink. I come from West Michigan and work in web development.
                    %div.cover-letter-switches
                        %div.cover-letter-switch.-birch.js-cover-letter-switch{ 'data-tree-type' => 'birch' }
                        %div.cover-letter-switch.-cherry.js-cover-letter-switch{ 'data-tree-type' => 'cherry' }
                        %div.cover-letter-switch.-willow.js-cover-letter-switch{ 'data-tree-type' => 'willow' }
    %header.js-peek-over
        %div.header__nav-wrapper.js-sticky-nav-wrapper
            %nav.header__nav.js-sticky-nav
                %div.content
                    %div.column-100
                        %ul
                            %li
                                %a.js-scroll-link{ :href => '#about' }
                                    About
                            %li
                                %a.js-scroll-link{ :href => '#education' }
                                    Education
                            %li
                                %a.js-scroll-link{ :href => '#experience' }
                                    Experience
                            %li
                                %a.js-scroll-link{ :href => '#skills' }
                                    Skills
                            %li
                                %a.js-scroll-link{ :href => '#projects' }
                                    Projects
    %div.resume
        %section#about.resume__section
            %div.content
                %div.column-100
                    %h2.heading.-flourish.-grand
                        About Me
                    %hr.margin-b3
                    %p
                        I learned programming while earning my undergraduate degree in physics, partly from coursework but mostly from my own studies. Since graduation, I have been working as a professional web developer. Over the past few years, I have become very familiar with Ruby, Rails, HTML, CSS, and JavaScript.
                    %div.centered
                        %div.icons
                            %div.icon
                                %a{ :href => 'https://github.com/februaryInk', :target => '_blank' }
                                    = erb :'core_pages/_github_icon'
                            %div.icon
                                %a{ :href => 'https://www.linkedin.com/pub/farrah-brink/b7/ba3/10a', :target => '_blank' }
                                    = erb :'core_pages/_linkedin_icon'
        %section#education.resume__section
            %div.content
                %div.column-100
                    %h2.heading.-flourish.-grand
                        Education
                    %hr.margin-b3
                %div.column-100
                    %div.faux-table.margin-b1
                        %div
                            %div
                                %h3.heading.-fine.no-white-space
                                    B.S. in Physics
                            %div.align-right
                                %span.t-medium
                                    Grand Valley State University
                    %div.padding-b1
                        %i
                            (2010 - 2015)
                    %ul.bulleted
                        %li
                            Minors: Engineering, Mathematics.
                        %li
                            Member of the Frederik Meijer Honors College.
                        %li
                            Recipient of the Academic Excellence Award in Physics for 2015.
        %section#experience.resume__section
            %div.content
                %div.column-100
                    %h2.heading.-flourish.-grand
                        Experience
                    %hr.margin-b3
                %div.column-100
                    %div.faux-table.margin-b1
                        %div
                            %div
                                %h3.heading.-fine.no-white-space
                                    Ruby on Rails Web Developer
                            %div.align-right
                                %span.t-medium
                                    Maestro, LLC
                    %div.padding-b1
                        %i
                            (June 1, 2015 - April 1, 2016)
                    %ul.bulleted
                        %li
                            Full-stack development of a new large-scale application. Contributed to all aspects of the application code from database planning to API to styling. Was involved in the project from its beginning all the way to final QA.
                        %li
                            Maintenance and expansion of multiple existing applications. Performed bug-fixes and added new features as desired by Maestro's clients.
        %section#skills.resume__section
            %div.content
                %div.column-100
                    %h2.heading.-flourish.-grand
                        Skills
                    %hr.margin-b3
                %div.column-100
                    %ul.bulleted
                        %li
                            Knowledge of Ruby, CSS/SCSS, HTML/HAML, JavaScript/jQuery.
                        %li
                            Proficient with the Ruby on Rails web application framework.
                        %li
                            Experience with Git and version control.
                        %li
                            Modest experience with Amazon Web Services, Heroku, and server setup.
                        %li
                            Modest knowledge of Java and Python.
        %section#projects.resume__section
            %div.content
                %div.column-100
                    %h2.heading.-flourish.-grand
                        Projects
                    %hr.margin-b3
                %div.column-100.margin-b2
                    %p
                        Many of the projects I have worked on are privately owned, but I also have a few personal projects that I work on in my own time.
                %div.column-100.-stripped.margin-b3
                    %div.column-50.padding-r2
                        %img.project-image{ :src => 'assets/inklings.jpg' }
                    %div.column-50.padding-l2
                        %h3.heading.-medium
                            Inklings
                        %p
                            Inklings is a Rails side project that I have been adding to little by little for quite a while. The site's concept is a writer's community where people can come to discuss their works in progress, but ultimately it provides a way for me to practice and think about design, usability, testing, and code organization, among other things.
                        %div.centered
                            %div.icons
                                %div.icon
                                    %a{ :href => 'https://github.com/februaryInk/social-networking-website', :target => '_blank' }
                                        = erb :'core_pages/_github_icon'
                %div.column-100.-stripped
                    %div.column-50.padding-r2
                        %img.project-image{ :src => 'assets/zombies.jpg' }
                    %div.column-50.padding-l2
                        %h3.heading.-medium
                            Zombies
                        %p
                            Zombies is an Android game developed with Java in which the player needs to survive in an endless labyrinth filled with (you guessed it) zombies. It's a collaborative project that I am assisting with as co-developer.
