.header--admin {
    background-color: $color-gainsboro;
    border-bottom: 1px solid $color-silver;
    line-height: 4em;
    
    h1 {
        float: left;
    }
}

.header__nav--admin {
    display: inline-block;
    float: right;
    
    ul {
        list-display: none;
        
        li {
            float: right;
            margin-left: 2em;
        }
    }
}

.header--public {
    background-color: $color-white;
    padding-bottom: 1em;
    padding-top: 1em;
    position: relative;
    width: 100%;
}

.header__nav--public {
    background-color: rgba( 256, 256, 256, 0.90 );
    
    a {
        border-bottom: 2px solid transparent;
        padding-bottom: 2px;
        
        &:hover {
            border-bottom: 2px solid $color-nobel;
        }
    }
    
    ul {
        list-display: none;
        width: 100%;
        
        li {
            float: left;
            line-height: 4em;
            margin-right: 2em;
        }
    }
    
    &.-sticky {
        border-bottom: 1px solid $color-silver;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 100;
    }
}

.header__nav-wrapper--public {
    height: 4em;
    width: 100%;
}
