.header--admin {
    background-color: $color-gainsboro;
    border-bottom: 1px solid $color-silver;
    line-height: 4em;
    
    h1 {
        float: left;
    }
}

.header__nav--admin {
    display: inline-block;
    float: right;
    
    ul {
        list-display: none;
        
        li {
            float: right;
            margin-left: 2em;
        }
    }
}

.header--public {
    background-color: $color-gainsboro;
    border-bottom: 1px solid $color-silver;
    line-height: 4em;
    position: relative;
    width: 100%;
    
    &.-seamless {
        background-color: $color-white;
        border-bottom: none;
    }
    
    &.-sticky {
        background-color: rgba( 256, 256, 256, 0.90 );
        border-bottom: 1px solid $color-silver;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 100;
    }
}

.header__logo--public {
    float: left;
}

.header__nav--public {
    float: right;
    
    a {
        border-bottom: 2px solid transparent;
        padding-bottom: 2px;
        
        &:hover {
            border-bottom: 2px solid $color-nobel;
        }
    }
    
    ul {
        @include overflow-clear;
        
        list-display: none;
        width: 100%;
        
        li {
            float: left;
            margin-left: 2em;
        }
    }
}

.header-wrapper--public {
    @include overflow-clear;
    
    background-color: $color-white;
    height: 4em;
    width: 100%;
}
