.admin-index {
    width: 100%;
    
    td {
        font-size: 18px;
    }
    
    td, 
    th {
        padding: 0.5em;
    }
    
    th {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    tr {
        &.odd {
            background-color: $color-white-smoke;
        }
    }
}

.admin-index__divider-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0;
}

.admin-index__divider-note {
    color: $color-nobel;
    font-size: 18px;
    vertical-align: baseline;
}

.colored {
    background-color: $color-pattens-blue;
    
    .header--public {
        background-color: $color-pattens-blue;
        border-bottom: none;
    }
}

.content {
    @include overflow-clear;
    
    margin-left: auto;
    margin-right: auto;
    width: $size-content;
    
    @media ( max-width: #{$size-content} ) {
        width: 95%;
    }
}

.even-split {
    @include faux-table;
    
    width: 100%;
    
    > * > * {
        width: 50%;
    }
}

.eye {
    animation-name: blink;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    background-color: darken( $color-white, 95% );
    border-radius: 50%;
    height: 100%;
    width: 100%;
}


.faux-table {
    @include faux-table;
}

.left-eye-wrapper,
.right-eye-wrapper {
    display: block;
    height: 5%;
    position: absolute;
    top: 26.5%;
    width: 5%;
}

.left-eye-wrapper { 
    left: 22%;
}

.right-eye-wrapper { 
    left: 35%;
}

.page-content {
    padding-top: 3em;
    padding-bottom: 4em;
    
    &.-lowered {
        padding-top: 8em;
    }
}

.red-fox-container {
    position: relative;
    width: 100%;
}

#page-wrapper {
    min-height: 100%;
    position: relative;
}
