@import 'base/definitions/fonts.scss';
@import 'base/definitions/variables.scss';
@import 'base/definitions/mixins.scss';

@import 'base/reset.scss';

@import 'base/buttons_and_links.scss';
@import 'base/footers.scss';
@import 'base/grid.scss';
@import 'base/headers.scss';
@import 'base/inputs.scss';
@import 'base/layout_elements.scss';
@import 'base/typography.scss';
@import 'base/utility_bars.scss';

@import 'base/global_modifiers.scss';

* {
    box-sizing: border-box;
}

body {
    height: 100%;
}

hr {
    border: 0;
    border-top: 1px solid $color-gainsboro;
    height: 0;
    margin-bottom: 16px;
    margin-top: 16px;
}

html {
    font-size: 100%;
}

.cover-letter {
    background-color: $color-columbia-blue;
    height: 400px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0;
}

.cover-letter-window__content {
    max-width: 30em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.cover-letter-switch {
    border: 3px solid transparent;
    border-radius: 1em;
    cursor: pointer;
    float: left;
    height: 2em;
    margin-right: 0.75em;
    width: 2em;
    
    &.-birch {
        background-color: darken( $color-sprout, 10% );
        
        &.-open {
            border-color: $color-olive;
        }
    }
    
    &.-cherry {
        background-color: darken( $color-lavender-blush, 5% );
        
        &.-open {
            border-color: $color-brilliant-rose;
        }
    }
    
    &.-willow {
        background-color: darken( $color-pattens-blue, 5% );
        
        &.-open {
            border-color: $color-light-slate-blue;
        }
    }
}

.cover-letter-switches {
    height: 2em;
    overflow: visible;
    position: relative;
}

.icon {
    display: inline-block;
    height: 2em;
    width: 3em;
    padding: 0 0.5em;
}

.icons {
    display: inline-block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

.project-image {
    border: 0.25em solid $color-gainsboro;
    width: 100%;
}

.resume {
    position: relative;
}

.resume__section {
    background-color: $color-white;
    padding-bottom: 4em;
    padding-top: 4em;
    
    &.-peek-over {
        padding-bottom: 2em;
        padding-top: 4em;
        
        @media ( max-width: 42em ) {
          padding-top: 2em;
        }
    }
}

#tree-canvas {
    background-color: $color-columbia-blue;
}
