@keyframes blink {
    0% { transform: scale( 1, 1 ); }
    0.5% { transform: scale( 1, 0 ); }
    2% { transform: scale( 1, 0 ); }
    2.5% { transform: scale( 1, 1 ); }
    100% { transform: scale( 1, 1 ); }
}

@-moz-keyframes blink {
    0% { transform: scale( 1, 1 ); }
    0.5% { transform: scale( 1, 0 ); }
    2% { transform: scale( 1, 0 ); }
    2.5% { transform: scale( 1, 1 ); }
    100% { transform: scale( 1, 1 ); }
}

@-webkit-keyframes blink {
    0% { transform: scale( 1, 1 ); }
    0.5% { transform: scale( 1, 0 ); }
    2% { transform: scale( 1, 0 ); }
    2.5% { transform: scale( 1, 1 ); }
    100% { transform: scale( 1, 1 ); }
}

body {
    height: 100%;
    overflow: hidden;
}

main {
    padding-bottom: 3em;
    padding-top: 5em;
}

table {
    height: 100%;
    overflow: auto;
    table-layout: fixed;
}

.arrow-right, .arrow-left {
    border-bottom: 3em solid transparent;
    border-top: 3em solid transparent;
    cursor: pointer;
    display: block;
    height: 0;
    margin-top: -3em;
    position: relative;
    top: 50%;
    width: 0;
}

.arrow-left {
    border-right: 3em solid darken( $color-white, 75% );
    margin-left: 2em;
    
    &:hover {
        border-right: 3.5em solid darken( $color-white, 60% );
    }
}

.arrow-right {
    border-left: 3em solid darken( $color-white, 75% );
    margin-right: 2em;
    
    &:hover {
        border-left: 3.5em solid darken( $color-white, 60% );
    }
}

.icon {
    display: inline-block;
    height: 2em;
    width: 3em;
    padding: 0 0.5em;
}

.icons {
    margin: 1em auto;
}

.eye {
    animation-name: blink;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-duration: 10s;
    -moz-animation-timing-function: linear;
    -moz-animation-delay: 2s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    background-color: darken( $color-white, 95% );
    border-radius: 50%;
    height: 1.75em;
    width: 1em;
}

.intro {
    width: 25em;
}

.next,
.prev {
    bottom: 0;
    height: 100%;
    position: fixed;
    top: 0;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.project {
    display: inline-block;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
    
    * {
        display: inline-block;
        vertical-align: middle;
    }
    
    p {
        font-size: 1.25em;
        line-height: 1.5em;
        text-align: left;
    }
}

.project-description {
    height: 17.5em;
    padding: 0 0 0 1em;
    width: 25em;
}

.project-img {
    border-color: darken( $color-spindle, 5% );
    border-radius: 0.5em;
    border-style: solid;
    border-width: 3px;
    height: 17.5em;
    width: 25em;
}

.quote {
    width: 20em;
}

.quote,
.inline-wrapper {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.quote,
.intro {
    font-size: 1.25em;
    line-height: 2.5em;
    margin: auto;
}

#about,
#projects,
#welcome {
    background-color: $color-spindle;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

#content-scrolling {
    height: 100%;
    overflow: auto;
    width: 300%;
}

#notice {
    width: 100%;
    
    p {
        line-height: 1.2em;
        margin-bottom: 1em;
    }
}

#form {
    text-align: left;
}

#fox {
    height: 35em;
    width: 22.5em;
}

#fox-container {
    display: block;
    position: relative;
}

#leaf-1,
#leaf-2,
#leaf-3,
#leaf-4 {
    left: 150%;
    position: absolute;
    top: 50%;
}

#leaf-1 {
    height: 17em;
    margin-left: -9.875em - 12em;
    margin-top: -8.5em - 5em;
}

#leaf-2 {
    height: 25em;
    margin-left: -9.875em + 7em;
    margin-top: -12.5em;
}

#leaf-3 {
    height: 17.5em;
    margin-left: -9.875em - 13.5em;
    margin-top: -8.75em + 7em;
}

#leaf-4 {
    height: 18em;
    margin-left: -9.875em + 9em;
    margin-top: -9em + 10em;
}

#left-eye-wrapper,
#right-eye-wrapper {
    display: block;
    position: absolute;
    top: 9.4em;
}

#left-eye-wrapper { 
    left: 5em;
}

#right-eye-wrapper { 
    left: 7.8em;
}
