!!! XML
%urlset{ 'xmlns' => 'http://www.sitemaps.org/schemas/sitemap/0.9' }
    %url
        %loc
            www.febrink.com/
        %changefreq
            monthly
        %priority
            1.0
