@font-face {
    font-family: 'Fontin';
    src: url('/assets/fontin/Fontin-Regular.eot'); /* IE9 Compat Modes */
    src: url('/assets/fontin/Fontin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fontin/Fontin-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('/assets/fontin/Fontin-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fontin/Fontin-Regular.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fontin Sans';
    src: url('/assets/fontin_sans/FontinSans-Regular.eot'); /* IE9 Compat Modes */
    src: url('/assets/fontin_sans/FontinSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fontin_sans/FontinSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('/assets/fontin_sans/FontinSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fontin_sans/FontinSans-Regular.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
