%header.header--public
    %div.content
        %div.column-100
            %a.header__logo--public{ :href => '/' }
                %h1.heading.-flourish.-grand.margin-b0
                    FB
            %nav.header__nav--public
                %ul
                    %li
                        %a{ :href => '/' }
                            Home
                    %li
                        %a{ :href => '/posts' }
                            Blog
