%header
    %div.content
        %h1
            febrink.com
        %nav
            %div#nav-scrolling
                %table#nav-table-scrolling
                    %tr
                        %td#welcome-go
                            %a{ :href => '/' }
                                Welcome
                        %td#about-go
                            %a{ :href => '/' }
                                About
                        %td#projects-go
                            %a{ :href => '/' }
                                Projects
