%header.header--admin
    %div.content
        %div.column-100
            %h1.heading.-flourish.-grand.margin-b0
                FB
            %nav.header__nav--admin
                %ul
                    %li
                        %a{ :href => '/sign_out' }
                            Sign Out
                    %li
                        %a{ :href => '/admin/posts' }
                            Posts
